{
  "ropsten": {
    "mnemonic": "some words to unlock your account",
    "infuraApiKey": "get your api key from infura.io"
  },
  "main": {
    "mnemonic": "some words to unlock your account",
    "infuraApiKey": "get your api key from infura.io"
  }
}
